:root {
--my-cool-background: #323;
--my-header-background: rgba(33,22,33,1);
--my-footer-background: rgba(11,22,11,.9);
    --my-form-background: rgba(55,99,55,1);

}
.contactUS{
    width: 90%;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 0;
    top:50%;
    transform: translate(-50%,-50%);
    display: none;

    height: auto;
    position: fixed;
    box-sizing: border-box;
    z-index:5;
    color: antiquewhite;
    border-radius: 12px;
}
div .outContactUs{
    font-size: 50px;
    color: darkgreen;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index:6;
    text-align: right;
    cursor:pointer;
    position: fixed;
    top: -35px;
    right: -5px;
    transition:.5s;
    
}
div .outContactUs:hover{
    color: darkred;
}


/*
.contactUS .more img{
    width: 100%;
    height:50;
}
*/
img:hover{
    filter: grayscale(50%);
    cursor: pointer;
}

.signUp{
    
/*
  background: rgb(108,55,143);
background: radial-gradient( rgba(108,55,143,1) 0%, rgba(60,60,153,1) 39%, rgba(129,130,184,1) 63%, rgba(93,125,163,1) 100%);
*/
    background-image: linear-gradient(to right top, #636466, #3d6f84, #007e86, #00885f, #1d8c00);
}

.signUp h2,.more h2{
    color: #fff;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
.more{
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/

}

@media screen and (max-width:920px) {

    .contactUS{
        display: block;
    }
    
   
}









